*{
    
}
.App {
    
}
.bg-color {
     background: red;
}
:root {
     font-size:16px;
}
@media only screen and (max-width:910px) {
     :root {
           font-size:12px;
     }
     .skillset{
          height: fit-content !important;
     }
   }

  

